<div id="sect1" class="bg-image">
<div class="home">
  <div class="container-fluid d-grid gap-2 btn-container" style="color: white">
    <a class=" btn btn-dark" routerLink="../menu" role="button">
      <i class="fas fa-shopping-bag"></i>    Order To Go</a>
    <a class=" btn btn-dark" routerLink="../aboutus" role="button">
      <i class="fa-solid fa-address-card"></i>   About Us!</a>
  </div>
  <div class="container-fluid align-content-center link-container " style="color: black">
    <a  routerLink="../login" class="btn  btn-light">
      <i class="fa-solid fa-circle-user"></i>  Log In</a>
  </div >



</div>
</div>
