<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.Olives" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Olives Restaurant</name>
    <description>Olives Restaurant</description>
    <author email="Olives@gmail.com" href="https://www.healthline.com/nutrition/foods/olives">
        Rose Mansouri And Olayimika Akinbola
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
  <icon src="icon.png" />
</widget>
