<div id="sect1" class=" bg-image">
  <div class="container-fluid ">
    <a routerLink="../home" class="btn btn-lg btn-light " role="button" aria-pressed="true"> <i
      class="fa-solid fa-angle-left"></i></a>
    <div class="container-fluid ">
      <div class="card">
        <div class="card-header">
          <h6>About Us</h6>
        </div>
        <section class="card-body">
          <h5 style="text-align: center"><b>OLIVES Restaurant</b> </h5>
          <p >Olives is a Restaurant that has been going for about a year and half. we started with just appetizer and drink,
            after the business grew we add Dessert and Main dish to our menu.</p>
          <p >We have received a lot of support and good feedback from our customer and very soon we will expand our menu.</p>
          <p >stay tune and keep supporting us</p>
          <br>
          <h5 style="text-align: center"><b>CREDITS</b></h5>
          <p >If you have any issues or feedback please contact us: </p>

          <div class="row">
            <div class="column" style="text-align: left">
              <h6>Rose Mansouri</h6>
              <p><i>Email: rmansouri5831@conestogac.on.ca<br>
              Phone Number: 519-240-5204<br>
              Role: Developer, Programmer, Manger </i></p>
            </div>
            <div class="column" style="text-align: left">
              <h6>Olayimika Akinbola</h6>
              <p><i>Email: oakinbola4906@conestogac.on.ca<br>
             Phone Number: 647-907-6840<br>
              Role: Co-Developer, chef and designer</i> </p>
            </div>
          </div>
          <button
            type="button"
            id="btnCreateDatabase" name="btnCreateDatabase"
            class="btn btn-primary container-fluid mb-3"
            (click)="btnCreateDatabase_click()"
          >Create Database
          </button>
          <button
            type="button"
            id="btnClearDatabase" name="btnClearDatabase"
            class="btn btn-danger container-fluid"
            (click)="btnClearDatabase_click()">Clear Database
          </button>

        </section>
      </div>
    </div>
  </div>
  <br> <br> <br> <br>
</div>
