
  <div class="navbar fixed-bottom navbar-light bg-light ">
    <div class="btn btn-navbar btn-group pull-left "   >
      <a class="nav-link " routerLink="home">
        <i class="fas fa-home"></i>
      </a>
    </div>

    <div class="btn btn-navbar btn-group pull-left">
        <a class="nav-link" routerLink="map" >
          <i class="fas fa-map-marker-alt "  ></i>
        </a>
    </div>
    <div class="btn btn-navbar btn-group pull-left">
        <a class="nav-link btn-toggle" routerLink="menu">
          <i class="fas fa-shopping-bag " ></i>
        </a>
    </div>


    <div class="btn btn-navbar btn-group pull-right" >
        <a class="nav-link" routerLink="aboutus" >
          <i class="fas fa-ellipsis-h " ></i>
        </a>
    </div>
  </div>

